body{
    margin:0;
    padding:0;
    background:#FAFAFA;
    position: relative;
    font: 80% 'PT Sans', Helvetica, Arial, sans-serif;
}

h1,h2,h3{
    font-family: 'Arvo', Georgia, Times, serif;
    text-shadow: 0px 0.3px 0.3px #4d4d4d;
}

#element-options label{
    display:block;
    padding: 0 0 2px;
    margin:2px;
    font-weight:bold;
    text-transform:capitalize;
}

#element-options input.checkbox, #form-options input.checkbox{
    width:15px;
    margin-right:5px;
    height:10px;
}

#element-options .form-options-range input{
	width:40px;
}

#element-options .form-options-range label{
	margin:0px 5px;
	padding:0px;
}

.form-options-range{
	width:80px;
	float:left;
}

.form-options-range-format{
	width:120px;
	float:left;
}

#element-options .form-options-range-format select{
	width:100px;
	margin: 3px 2px 10px;
	font-size: 12px;
    height: 26px;
}

#element-options .form-options-range-format label{
	margin:0px 5px;
	padding:0px;
}

#header{
	width:960px;
	height:80px;
	margin:0 auto;
	margin-top:15px;
    background: none repeat scroll 0 0 #FCFCFC;
    border-bottom: 1px solid #E9E9E9;
}
#container{
	width:960px;
	margin:0 auto 50px;
	background: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position:relative;
    padding-bottom:50px
}
#form-elements,#element-options{
    width:300px;
    padding:0;
    margin:0;
}
#form-elements ul{
	padding:0;
    margin:0;
}
#form-elements li{
    float:left;
	list-style-type: none;
	padding:5px;
    padding-left:15px;
}

.form-element-heading{
    padding:10px 15px 2px;
    clear:both;
    color:#2E6E9E;
    font-weight:bold;
}

#element-options{
    margin: 5px 2px;
}

#element-options input{
    width:150px;
    font-size:12px;
    height:18px;
    margin:3px 2px 10px;
}
#element-options label{
    font-size:13px;
}

#element-options input.form-options-more{
    margin:2px 2px 2px 27px;
    width:125px;
}

#form-options input, #form-options select{
    font-size:12px;
    height:18px;
    margin:3px 2px 10px;
    width:200px;
}

#form-options select{
    height:24px;
    padding: 3px 5px;
    width:212px;
}

#left-column{
	position:absolute;
	left:10px;
	top:90px;
	background: #fff;
    width:300px;
    font-size:93%;
    padding-bottom: 10px;
    border:none;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
}

#left-column label{
    float:none;
    display:block;
    padding: 0 0 2px;
    margin:2px;
    text-align: left;
}

#left-column a.form-tip{
    text-decoration: none;
    color:#3B699F;
    font-weight:normal;
}

#left-column input {
    float:none;
}

#left-column input, #left-column select, #left-column textarea{
    height:22px;
    padding:2px 5px;
    border-radius:3px;
    border:1px solid;
    background-color: #FFFFFF;
    border-color:#c3bfb3 #BFB9A4 #c3bfb3 #BFB9A4;
    color: #333333;
    font-family: 'Lucida Grande', sans-serif;
}

#main-column{
	margin:10px 0;
	width:635px;
	float:right;
	background: #FFFFFF;
    color:#575757;
    border-left: 1px solid #E9E9E9;
}

.clr{
	clear:both;
}

.paragraph{
	width:16px;
	height:16px;
}

.delete-element{
    width:16px;
    height:16px;
    float:right;
}

.delete-element img{
    border:none;
    width:16px;
    height:16px;
}

.form_element,.form_element label,.form_element textarea,.form_element input,.form_element select{
    cursor:pointer;
}
.form_element:hover{
    padding: 4px 9px 9px;
    border:1px dashed #000;
}
a.delete-option,a.delete-element{
    width:19px;
    height:18px;
    text-indent: -99999px;
    display:inline-block;
    margin:5px 10px 5px 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

a.delete-element{
    position: absolute;
    right:0px;
    top:0px;
}

input#form-options-checkbox{
    clear:both;
}

#form-options-check{
    clear:both;
    margin:5px;
    margin-top:10px;
}

#form-options-more-add{
    clear:both;
    margin:5px;
    margin-left:25px;
    padding-top:1px;
}

textarea#form-options-success-msg{
    height:100px;
    width:250px;
}

#form-options-email-options input{
    height:18px;
    width:180px;
    margin-left:20px;
    margin-top:1px;
}

#form-options-email-options label{
    width:180px;
    margin:2px 0 2px 20px;
    padding:0;
}
a.add-form-option{
    width:46px;
    height:16px;
    background:url(add.png) no-repeat 2px 2px;
    display:block;
    margin:5px 10px 5px 5px;
    text-align:right;
    font-size:13px;
}
.err-message{
    display: none;
}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

#buttons-container{
    width:250px;
    float:right;
    text-align: right;
    margin:25px 10px 10px 10px;
    height:35px;
}

#buttons-container a{
    margin-right: 6px;
}

.button1 {
    position: relative;
    width:100px;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button1:hover,
.button1:focus,
.button1:active,
.button1.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.button1:active,
.button1.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button1::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.tooltip{   background-color: #F5F5B5;
    border: 1px solid #DECA7E;
    color: #303030;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 10px 13px;
    position: absolute;
    text-align: center;
    z-index: 2;
}

.form-element-heading{
    padding:10px 15px 2px;
    clear:both;
    color:#2E6E9E;
    font-weight:bold;
}

#theme-changer-container{
    float:left;
    width:300px;
    margin: 18px 20px 0 ;
    padding:10px;
    padding-left: 0;
}

#theme-changer-container label{
    float:none;
    width: auto;
    margin: 3px -0.3em 0 0;
    text-align: left;
}

#theme-changer-container input{
    float:none;
    width: auto;
}

#theme-changer-container .ui-button-text{
    padding:4px 8px;
    font: 80% 'PT Sans', Helvetica, Arial, sans-serif;
}
#no-fields{
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    background: #0077AF;
    border-radius:10px;
    padding:10px 15px;
    margin:15px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color:#fff;
}

#no-fields h3{
    font-family: 'Arvo', Georgia, Times, serif;
    font-size: 20px;
    line-height: 35px;
    margin:8px 0;
    text-shadow: 0 0 4px #111111;
}

#no-fields p{
    margin: 5px 0;
    text-shadow: 0 0 4px #111111;
}

.close-link{
    display: block;
    height: 18px;
    margin: 5px 10px 5px 5px;
    text-indent: -99999px;
    width: 19px;
}

.close-link-hover{
    background-color: #D0E5F5;
}

.close-link-span{
    background: url("redmond/images/ui-icons_217bc0_256x240.png") no-repeat scroll 0 0 transparent;
    background-position: -96px -128px;
    display: block;
    margin:1px;
    height: 16px;
    width: 16px;
}

#form-options-email-options {
    margin-top: 8px;
    display:none;
}

#js-warning{
	margin:10px 20px;
	padding:10px 20px;
	text-align: center;
	z-index:10000;
	position: absolute;
	background-color: #F9EDBE;
    border: 1px solid #F0C36D;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	font-size: 15px;
	border-radius:10px;
}